/** @format */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@font-face {
	font-family: "extraBoldFont";
	src: url("assets/fonts/static/Inconsolata-ExtraBold.ttf");
}

@font-face {
	font-family: "boldFont";
	src: url("assets/fonts/static/Inconsolata-Bold.ttf");
}

@font-face {
	font-family: "mediumFont";
	src: url("assets/fonts/static/Inconsolata-Medium.ttf");
}

@font-face {
	font-family: "regularFont";
	src: url("assets/fonts/static/Inconsolata-Regular.ttf");
}

@font-face {
	font-family: "Inconsolata";
	src: url("assets/fonts/Inconsolata-VariableFont_wdth,wght.ttf")
		format("truetype");
}

body {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: "bold";
	background-size: cover;
	background-repeat: no-repeat;
}

body.page1 {
	background-image: url("assets/images/background-mobile.png");
}

main {
	width: 95%;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: white;
	background-image: url("assets/images/pattern-lines.svg");
}

header {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 2rem;
}

.logo-container #page-logo {
	width: 80%;
}

header h2,
.page-description {
	text-align: center;
}

header h2,
.coding-conf h2 {
	margin-top: 2.5rem;
	font-family: "extraBoldFont", sans-serif;
	font-size: 1.7rem;
	font-weight: 700;
}

.page-description {
	font-family: "mediumFont", sans-serif;
	font-weight: 500;
	font-size: 1.3rem;
	margin-top: 1.5rem;
	line-height: 1.4rem;
	color: hsl(0, 0%, 100%, 0.7);
}

form {
	width: 100%;
	margin-top: 2.5rem;
}

.drag-and-drop-section h3 {
	font-family: "regularFont", sans-serif;
	font-weight: 400;
	font-size: 1.2rem;
}

#drag-and-drop {
	border: 2.5px dashed hsl(0, 0%, 100%, 0.5);
	background-color: hsla(252, 78%, 46%, 0.1);
	width: 100%;
	display: grid;
	place-items: center;
	margin-top: 1rem;
	padding: 1rem 0;
	border-radius: 8px;
}

#drag-and-drop img {
	padding: 0.6rem;
	border-radius: 9px;
	background-color: hsl(252, 6%, 83%, 0.1);
}

#drag-and-drop #dropped-image {
	max-width: 15%;
	aspect-ratio: 1/1;
	margin-top: 0rem;
	margin-bottom: 1.5rem;
	padding: 0;
}

#drag-and-drop p,
#drag-and-drop p input {
	font-family: "regularFont", sans-serif;
	margin-top: 1rem;
	font-size: 1.1rem;
	color: hsl(0, 0%, 100%, 0.7);
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0;
	margin: 0;
	margin-top: 1rem;
}

#drag-and-drop label {
	margin-left: 0.8rem;
}

#drag-and-drop p input {
	display: none;
}

#image-option-container {
	display: flex;
	width: 50%;
	justify-content: center;
	gap: 10px;
	margin: 0;
	padding: 0;
}

#image-option-container button {
	padding: 0.2rem;
	border-radius: 4px;
	font-family: "boldFont", sans-serif;
	background-color: hsla(252, 78%, 46%, 0.1);
	color: hsl(0, 0%, 100%, 0.7);
	outline: none;
}

.info-container {
	padding: 0;
	display: flex;
	align-items: center;
	margin-top: 0.7rem;
}

.info-container p,
.invalid-mail span {
	font-size: 0.7rem;
	margin-left: 0.7rem;
}

.info-container #large-file {
	color: rgb(225, 97, 81);
}

.input-section {
	width: 100%;
	margin-top: 1.5rem;
}

label {
	font-family: "regularFont", sans-serif;
	font-weight: 500;
	font-size: 1.2rem;
}

input:focus,
#drag-and-drop:focus {
	outline: 1px solid hsl(0, 0%, 100%, 0.5);
	outline-offset: 1px;
}

input,
button {
	border: 0.5px solid rgba(255, 255, 255, 0.5);
	width: 90%;
	padding: 1.14rem 0;
	margin-top: 0.5rem;
	margin-bottom: 1.5rem;
	border-radius: 8px;
	background-color: hsl(252, 6%, 83%, 0.1);
	margin-left: 0.5rem;
	padding-left: 1rem;
	position: relative;
	z-index: 1;
	color: white;
}

input::placeholder {
	color: hsl(0, 0%, 100%, 0.8);
	font-family: "regularFont", sans-serif;
	font-weight: 400;
	font-size: 1rem;
}

.invalid-mail {
	margin-top: -1rem;
	color: rgb(225, 97, 81);
	display: none;
}

.invalid-mail img {
	color: red;
}

#submit {
	font-family: "boldFont", sans-serif;
	font-size: 1.3rem;
	font-weight: 500;
	margin-bottom: 4.5rem;
	background-color: hsl(7, 88%, 67%);
	border: 0;
}

#snake-line {
	width: 30%;
	position: absolute;
	margin-left: 16rem;
}

#pattern-circle {
	width: 30%;
	position: absolute;
	margin-left: 15rem;
	margin-top: -2.5rem;
}

#bottom-design-line,
#desktop-bottom-design-line {
	position: relative;
	width: 90%;
	margin-top: -15rem;
	z-index: 0;
	margin-left: -1rem;
}

#desktop-bottom-design-line {
	display: none;
}

/* page2 only */

body.page2 {
	height: 100vh;
	background-image: none;
	background-color: mblueviolet;
	background-image: url("assets/images/background-tablet.png");
}

.page2 .page-heading {
	font-size: 1.9rem;
	font-family: "regularFont";
	font-weight: 600;
}

.page-heading .person-name {
	background: linear-gradient(to right, hsl(7, 86%, 67%), hsl(0, 0%, 100%));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.page2 .page-description {
	margin-top: 2.5rem;
	font-size: 1.2rem;
}

.page-description #person-email {
	color: hsl(7, 86%, 67%);
}

.page2 #ticket {
	background-image: url("assets/images/pattern-ticket.svg");
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	margin-top: 5rem;
	padding-top: 1rem;
	padding-left: 1rem;
	font-family: "mediumFont";
	font-weight: 200;
}

.page2-logo-container {
	display: flex;
	align-items: center;
}

.page2-logo-container img {
	width: 10%;
}

.page2-logo-container .coding-conf {
	margin-top: 0;
	margin-left: 0.8rem;
	font-weight: 700;
	width: 100%;
}

.page2-logo-container .coding-conf h2 {
	margin-top: 0;
}

.inputs {
	display: flex;
	align-items: center;
	gap: 1rem;
	margin-top: 2rem;
	margin-bottom: 1rem;
}

.coding-conf #date,
figure {
	font-family: "regularFont";
	font-size: 0.75rem;
	font-weight: 200;
	margin-top: 0.4rem;
	color: hsl(252, 6%, 83%);
}

#person-image {
	max-width: 16%;
	border-radius: 8px;
	margin: 0;
}

.inputs div {
	width: 85%;
}

.inputs .person-name {
	font-size: 1.2rem;
}
figure {
	display: flex;
	gap: 0.3rem;
	align-items: center;
}

figure img {
	width: 6%;
}

/* desktop design */

@media (min-width: 580px) {
	body {
		background-image: url("assets/images/background-desktop.png");
	}

	main {
		width: 50%;
		justify-content: center;
	}

	.logo-container #page-logo {
		width: 90%;
	}

	header .page-heading {
		font-size: 3.2rem;
		line-height: 3rem;
	}

	.page-description {
		font-size: 1.4rem;
	}

	#submit {
		margin-bottom: 1.5rem;
	}

	form {
		width: 500px;
	}

	#snake-line {
		right: 0;
	}

	header #pattern-circle {
		left: -13rem;
		top: 5rem;
	}

	#pattern-circle {
		width: 10%;
		position: absolute;
		margin-left: 20rem;
		margin-top: 2rem;
	}

	#bottom-design-line {
		display: none;
	}

	form {
		display: block;
	}

	.bottom-line-container {
		width: 100vw;
	}

	#desktop-bottom-design-line {
		display: inline;
		width: 60%;
	}

	.page2 #ticket {
		margin-left: 18rem;
	}

	#ticket #page-logo {
		max-width: 7%;
	}

	#ticket .inputs {
		margin-top: 2.5rem;
		margin-bottom: 1.5rem;
	}

	#person-image {
		max-width: 10%;
	}
}

@media (min-width: 400px) {
	body.page2 {
	}

	.page2 #ticket {
		width: 100%;
		margin-bottom: 2rem;
		background-size: contain;
		margin-left: 1rem;
	}
}
